/* The solution to the universe's problems */
* { box-sizing: border-box; }
body { padding: 0; margin: 0; font-size: 16px;}

.full-wrap {
  position: relative;

  width: 100%;
  min-height: 100%;

  margin: 0 auto;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 8.25em;

  margin: 0;
  padding: 0;

  text-align: center;
  font-family: Bevan;
  font-weight: 400;
  font-size: 2em;

  color: #00aced;
  text-shadow: 0 0.05em 0.05em rgba(0, 0, 0, 0.7);
}

.loading {
  position: fixed;

  left: 50%;
  top: 50%;

  margin-left: -31px;
  margin-right: -32px;

  z-index: 128;
  display: none;
}

.summary {
  position: absolute;
  top: 0;
  right: 0;

  width: 16em;
  height: 16em;
}

.gmap {
  position: absolute;
  top: 6.5em;
  left: 0;

  width: 32.5em;
  height: 24em;

  border: 1px solid #89A;
  border-bottom-width: 2px;
}

.search-form {
  position: absolute;
  top: 3.5em;
  left: 0;
  right: 16.5em;

  width: auto;
  height: 2.5em;

  padding: 0;
}

.search-form .text, .search-form .button {
  -o-border-radius: 0.35em;
  -ms-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  -webkit-border-radius: 0.35em;
  border-radius: 0.35em;
}

.search-form .text {
  position: absolute;

  top: 0;
  left: 0;
  right: 6.285714285714286em;

  height: 1.42857142857143em;
  padding: 0.1em 0.6em;
  margin: 0;


  font-size: 1.75em;

  border: 1px solid #DDD;
  border-bottom-width: 2px;

  background-color: #F7F7F7;
}

.search-form .text:focus {
  border-color: #AAA;
  background-color: #FFF;
  outline: none;
}

.search-form .button {
  position: absolute;
  top: 0;
  right: 0;

  width: 6em;
  height: 1.42857142857143em;

  font-size: 1.75em;

  border: 1px solid #999;
  border-bottom-width: 2px;

  background-color: #CCC;
}

.search-form .button:hover {
  background-color: #DDD;
  border-color: #AAA;
}

.search-form .button:active {
  border: 1px solid #888;
  border-top-width: 3px;
}

.tweets {
  margin: 0 auto;
  position: relative;
}

#messages {
  position: absolute;
  top: 3em;
}

#messages div {
  -o-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;

  float: left;
  clear: left;

  background-color: #EE8;

  border: 1px solid #880;
  border-bottom-width: 2px;

  font-size: 0.8em;
  padding: 0.2em 0.5em;
  margin-bottom: 0.5em;
}

/* Tweet styles */
.tweet, .tweet-sizer {width: 16em;}
.tweet-gutter-sizer {width: 0.5em;}

@media screen and (max-width: 535px) {
  .tweets {width: 16em;}
  .gmap {width: 16em; height: 12em;}
}
@media screen and (min-width: 536px) and (max-width: 799px) {
  .tweets {width: 32.5em;}
  .gmap {width: 16em; height: 12em;}
}
@media screen and (min-width: 800px) and (max-width: 1063px) {
  .tweets {width: 49em;}
}
@media screen and (min-width: 1064px)  and (max-width: 1327px) {
  .tweets {width: 65.5em;}
}
@media screen and (min-width: 1328px) {
  .tweets {width: 82em;}
}

.tweet {
  position: relative;
  padding: 0.5em;

  border: 1px solid black;
  border-bottom-width: 2px;

  -o-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
}

.tweet-negative {
  background-color: #EAA;
  border-color: #C88;
}
.tweet-positive {
  background-color: #AEA;
  border-color: #8C8;
}
.tweet-neutral {
  background-color: #E7E7E7;
  border-color: #C0C0C0;
}


/* Asides indicating positive/negative score */
.tweet aside.negative, .tweet aside.positive {
  -o-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  border-radius: 0.625em;

  float: right;
  position: relative;

  padding: 0.25em 0.8em;
  margin: 0 0.2em;

  font-size: 0.7em;
  font-weight: bold;
  font-style: italic;
  font-family: sans;
  color: white;

  line-height: 100%;
  opacity: 0.8;
}

.tweet aside.negative {
  background-color: #D00;
}

.tweet aside.positive {
  background-color: #0A0;
}

.tweet .text, .tweet .user {
  font-size: 0.8em;
}

.tweet .text {
  clear: both;
  padding: 0.5em 0.2em;
}

.tweet .avatar {
  display: block;
  float: left;

  padding: 0;
  margin-right: 0.5em;
  margin-bottom: 0.3em;

  -moz-box-shadow: 0 0.15em 0.3em 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0.15em 0.3em 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0.15em 0.3em 0 rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0.15em 0.3em 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.15em 0.3em 0 rgba(0, 0, 0, 0.5);

  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;

}

.tweet .geo {
  float: right;
  opacity: 0.3;
}

.tweet .user {
  float: left;
}

.tweet .user p {
  padding: 0;
  margin: 0;
}

.tweet .user .name {
  font-weight: bold;
}

.tweet .user .screenName {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}