<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Sentiment Analysis</title>

    <link href="css/bevan.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/packery.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

    <script type="text/template" class="template">
      <article class="tweet <%- tpl.class %>">
        <img class="avatar" width="48" height="48" src="image.php?url=<%- encodeURIComponent(tpl.tweet.user.avatar) %>" />
        <% if (tpl.tweet.geo) { %><img class="geo" src="img/geo.png" /><% } %>
        <div class="user">
          <p class="name"><%- tpl.tweet.user.name %></p>
          <p class="screenName">@<%- tpl.tweet.user.screenName %></p>
        </div>
        <div class="text"><%- tpl.tweet.text %></div>

        <% _.each(tpl.tweet.positive, function(word){ %>
          <aside class="positive">+ <%- word %></aside>
        <% }); %>

        <% _.each(tpl.tweet.negative, function(word){ %>
        <aside class="negative">- <%- word %></aside>
        <% }); %>
      </article>
    </script>
  </head>

  <body>
    <div class="full-wrap">
      <div id="loading" class="loading">
        <img src="img/loading.gif" />
      </div>

      <!-- Tweets -->
      <div id="tweets" class="tweets">
        <h1 class="stamp">Twitter Sentiment Analysis</h1>
        <form id="form-search" class="search-form stamp" name="search" action="#">
          <input id="form-search-term" class="text" type="search" name="term" placeholder="Enter a Twitter search term"/>
          <input id="form-search-send" class="button" type="submit" value="Search" />
        </form>
        <div id="summary" class="summary stamp"></div>
        <div class="tweet-sizer"></div>
        <div class="tweet-gutter-sizer"></div>
        <div id="messages" class="stamp"></div>
      </div>
    </div>
  </body>
</html>