<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Sentiment Analysis</title>

    <link href='//fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="style.css" />

    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="script.js"></script>

    <script type="text/template" class="template">
      <article class="tweet <%- tpl.class %>">
        <div class="text"><%- tpl.tweet.text %></div>
        <aside class="positive">+<%- tpl.tweet.positive %></aside>
        <aside class="negative">-<%- tpl.tweet.negative %></aside>
      </article>
    </script>
  </head>

  <body>
    <div class="full-wrap">
      <!-- Messages -->
      <div id="messages"></div>

      <!-- Page Header -->
      <header>
        <!-- Main Title -->
        <h1>Twitter Sentiment Analysis</h1>

        <!-- Search Form -->
        <form id="form-search" name="search" action="#">
          <input id="form-search-term" type="search" name="term" placeholder="Enter a Twitter search term"/>
          <input id="form-search-send" type="submit" value="Search" />
        </form>

        <!-- Results summary -->
        <div id="summary" class="summary"></div>
      </header>

      <!-- Clear -->
      <div style="clear:both"></div>

      <!-- Tweets -->
      <div id="tweets"></div>
    </div>
  </body>
</html>