/* The solution to the universe's problems */
* { box-sizing: border-box; }
body { padding: 0; margin: 0; font-size: 16px;}

.full-wrap {
  position: relative;

  width: 100%;

  min-height: 100%;

  margin: 0 auto;
}

header {
  position: relative;
  width: 100%;
}

h1 {
  width: 100%;

  margin: 0;
  padding: 0;

  text-align: center;
  font-family: Bevan;
  font-weight: 400;
  font-size: 2em;
}

.summary {
  float: right;

  width: 180px;
  height: 180px;
}

.loading {
  display: none;
}

/* Tweet styles */
.tweet, .tweet-sizer {width: 100%;}
@media screen and (min-width: 500px) and (max-width: 749px) {
  .tweet, .tweet-sizer {width: 50%;}
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .tweet, .tweet-sizer {width: 33.333333%;}
}
@media screen and (min-width: 1000px) and (max-width: 1249px) {
  .tweet, .tweet-sizer {width: 25%;}
}
@media screen and (min-width: 1250px) {
  .tweet, .tweet-sizer {width: 20%;}
}

.tweet {
  position: relative;

  padding: 1em 0.4em 0.4em 1.2em;
  font-size: 0.8em;
}

.tweet-negative {
  background-color: #EAA;
}
.tweet-positive {
  background-color: #AEA;
}
.tweet-neutral {
  background-color: #D7D7D7;
}


/* Asides indicating positive/negative score */
.tweet .negative, .tweet .positive {
  -o-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  border-radius: 0.625em;

  float: right;
  position: relative;

  padding: 0.25em 0.8em;
  margin: 0 0.2em;

  font-size: 0.7em;
  font-weight: bold;
  font-style: italic;
  color: white;

  line-height: 100%;
}

.tweet .negative {
  background-color: #D00;
}

.tweet .positive {
  background-color: #0A0;
}